#panel {
  float: left;
  text-align: center !important;
  width : 30%;
  padding-left: 30px;
}

#body {
  float: left;
  width : 65%;
}

h1 {
    font-weight: 400;
}

.search {
  width : 300px;
  height : 30px;
  border-radius : 15px;
  padding-left: 10px;
  box-shadow: none;
  border: none;
  margin : auto;
}

.searchResults {
  padding-top : 40px;
  width : 33%;
  float: left;
}

.item {
  width : 100%;
  font-size: 16px;
}


.itemLink {
  color : white !important;
  text-decoration: none !important;
}

.itemLink:hover {
  color : #E2E2E2 !important;
}

.button {
  text-align: center;
  border : 1px solid white;
  width: 50px;
  margin: auto;
  cursor: pointer;
  padding : 5px;
}

.button:hover {
  background: rgba(255,255,255,0.3);
}
