<h3>{{city.title}} ({{city.parent.title}})</h3>

<br><br>

<div style="width:33%;float:left"><i class="far fa-clock"></i></div>
<div style="width:33%;float:left"><i class="fab fa-cloudversify"></i>

</div>
<div style="width:33%;float:left"><i class="fas fa-tint"></i>

</div>

<br><br>

<div *ngFor="let weather of city.consolidated_weather">
  <div style="width:33%;float:left">{{ weather.applicable_date}}</div>
  <div style="width:33%;float:left">  {{weather.weather_state_name}}  </div>
  <div style="width:33%;float:left">     Humidité : {{weather.humidity}} - Vent : {{weather.wind_direction_compass}} </div>
  <br><br>
