<div id="panel">
  Filtres :
  <br><br><br>
  <h3>Hemisphere</h3>
  <div class="nord" [ngStyle]="hemisphere==='nord' && {'background-color': 'rgba(255,255,255,0.3)'}">Nord</div>
  <div class="sud" [ngStyle]="hemisphere==='sud' && {'background-color': 'rgba(255,255,255,0.3)'}">Sud</div>

  <br><br><br>
  <h3>Latitude</h3>
  <div class="europe" [ngStyle]="region==='europe' && {'background-color': 'rgba(255,255,255,0.3)'}">Europe</div>
  <div class="asie" [ngStyle]="region==='asie' && {'background-color': 'rgba(255,255,255,0.3)'}">Asie</div>
  <div class="amerique" [ngStyle]="region==='amerique' && {'background-color': 'rgba(255,255,255,0.3)'}">Amerique</div>

</div>


<div id="body">
  <h1><i class="far fa-sun"></i>Weather app</h1>
  <p>Cherchez une ville pour voir des infos sur la météo..</p>
  <input class="search" [(ngModel)]="search" (ngModelChange)="searchChange()"/>
  <br><br>

  <div class="searchResults" *ngFor="let city of filteredCities$ | async as data">
      <div class="item">
        <a class="itemLink" [routerLink]="['/city', city.woeid]">{{city.title}}</a>
      </div>
  </div>
</div>
